.container{
        width: 800px;
    margin: 0 auto;
}
    .header, .footer{
        background-color: #eee;
        min-height: 50px;
        text-align: center;
    }
    .content{
        background-color: #eee;
        min-height: 500px;
        text-align: center;
        overflow: auto;
    }
    .thumbnail{
        background-color: white;
        text-align: center;
        padding: 10px;
        width: 225px;
        margin: 10px;
        float: left;
    }
    .thumbnail img{
        width: 100%
    }
    .logo img{
        width: 200px;
    }
    .menu ul{
        padding: 0;
    }
    .menu ul li{
        display: inline-block;
    }
    .menu ul li{
        padding: 10px 20px;
        text-decoration: none;
    }