[submodule "Dicoding-Web-Programming-Dasar"]
	path = Dicoding-Web-Programming-Dasar
	url = https://github.com/rainoverme002/Dicoding-Web-Programming-Dasar.git
[submodule "Dicoding-Basic-Python"]
	path = Dicoding-Basic-Python
	url = https://github.com/rainoverme002/Dicoding-Basic-Python.git
