.container{
        width: 800px;
    margin: 0 auto;
}
    .header, .footer{
        background-color: #eee;
        min-height: 50px;
        text-align: center;
    }
    .content{
        background-color: #eee;
        min-height: 500px;
        text-align: center;
        overflow: auto;
    }
    .thumbnail{
        background-color: white;
        text-align: center;
        padding: 10px;
        width: 225px;
        margin: 10px;
        float: left;
    }
    .thumbnail img{
        width: 100%
    }
    .logo img{
        width: 200px;
    }
    .menu ul{
        padding: 0;
    }
    .menu ul li {
        display: inline-block;
        position: relative;
    }
    ul.submenu {
        background-color: #eee;
        border: 1px solid #ccc;
        text-align: left;
        position: absolute;
        top: 20px;
        left: 0;
        display: none;
    }
    .menu ul li:hover ul.submenu  {
        display: block;
    }
    ul.submenu li{
        display: block
    }
    ul.submenu li a{
        display: block;
        padding: 5px 10px;
    }
    