/* CSS 20 September 2019 by I Gusti Bagus Awienandra */

.top-navbar a{
    float: right;
    display: block;
    color: #534B4B;
    padding: 14px 16px;
    text-decoration: none;
}

.top-navbar a:hover {
    text-decoration: underline;
  }

.navbar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px; margin:2%;
}
.top-navbar li{
    position: relative; 
    display: inline-block;
    font-family: consolas;
    font-size: 32px;
    margin:1%;
    color: #ffffff;
}

.resume{
    border: solid 10px;
    border-color: #707070;
    background-color: #394F6E;
    margin-left: 2%;margin-right: 2%;
}

.intro{
    padding: 2%;
    margin: 2%;
}
.resume-title{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.my-name{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;

}

.my-title{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.about-img{
    left: 50%; right: 5%; bottom: 10%;
    margin-left: 37.5%;
    padding-bottom: 5%;
}

.about-me{
    left: 40%;
    font-family: consolas;
    font-size: 40px;
    padding-right: 2%; padding-left: 2%;
    margin-left: 2%; margin-right: 2%;
    color: #ffffff;
}

.about-title{
    text-align: center;
    font-size: 72px;
    padding-right: 2%;
}

.who-am-i{
    text-align: center;
    color: #BAB1B1;
    font-size: 90px;
    padding-right: 2%;
}

.box{
    box-shadow: -1px 3px 0px 5px #CBCBCB; 
    margin: 2%; 
    padding: 1%;

}

.portofolio-section .box{
    box-shadow: -1px 3px 0px 5px #CBCBCB; 
    margin: 2%; 
    padding: 1%;
    padding-left: 25%;
}

.title-section{
    font-size: 48px;
    margin-left:2%;
}

.box-year{
    font-family: consolas;
    font-size: 40px;
    text-decoration: underline;
    color:#9A8E8E;
}

.box-title, .box-my-skill{
    font-family: consolas;
    font-size: 40px;
    font: bolder;
    color:#534B4B;
}
.box-detail{
    font-family: consolas;
    font-size: 40px;
    color:#534B4B;
}

.portofolio-section, .edu-ex-section,.skill-section{
    font-family: Consolas;
    margin: 2%;
    align-content: auto;
}

.footer{
    background-color: #3E3E3E;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    padding: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
