body{
    /* Bisa Seperti ini :
    font-style: italic;
    font-variant: small-caps;
    font-weight:bolder;
    font-size:12px;
    line-height:18px;
    font-family:Arial, Helvetica, sans-serif;
    */

    /*atau ini*/
    font: italic small-caps bolder 12px/18px helvetica,arial, sans-serif;
}
#inline li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}